body {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.rope input, button, input {
  min-height: 1.5rem;
  min-width: 1.5rem;
  margin: 1px;
  vertical-align: middle;
}

.rope, label {
  display: block;
}

label * {
  vertical-align: middle;
}

label.cut-label {
  display: inline-block;
}

label.cut-label span {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

input#join {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

#lengths, #results {
  margin: 1rem 0rem;
}

table, td {
  border: 1px solid #333;
}

/* Chart */
#results-graph-container {
  height: 20rem;
  width: 40rem;
  max-height: 95%;
  max-width: 100%;
}

/* Spinner */
.spinner {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid #ffc000;
  border-bottom: 0.25rem solid rgba(0,0,0,0);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

.spinner--hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Colours */
html {
  background-color: #eee;
}

thead, tfoot {
  background-color: #333;
  color: #fff;
}

input:checked + .join, tr.join {
  background: #ff9;
}

@media (prefers-color-scheme: dark) {

  body {
    filter: invert(100%);
  }

  html {
    background-color: #111;
  }

}
